:root {
  --bg: #121212;
  --text: #ffffff;
  --font: 'Roboto Variable', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--font);

  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0f0d1d;
}

body::-webkit-scrollbar-thumb {
  background-color: #3c4665;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.359);
}
